body {
    padding: 10px;
}

.flex {
    display: flex;
    flex-wrap:wrap;
}

.file-heading {
    text-align:center;
}

.product-item {
    border-radius:4px;
    border:2px solid rgba(0, 0, 0, 0.309);
    height: 400px;
    width: 250px;
    text-align:center;
    margin:20px;
}

.high-ground {
    border-bottom:2px solid rgba(0, 0, 0, 0.309);
    height:71%;
    padding:5px;
}

.low-ground {
    border-bottom:2px solid rgba(0, 0, 0, 0.309);
    height:7%;
}

.categories-item {
    margin-left: 20px;
    margin-right:20px;
    border-bottom:1px dashed black;
    padding:10px;
}

#main-title{
    font-size:30px;
    color: grey;
    text-decoration:none;
}

.post-date{
    color:grey;
}

.product-left{
    color:grey;
    background-color:rgba(128, 128, 128, 0.305);
    width:500px;
    height:320px;
    border:1px solid rgba(128, 128, 128, 0.305);
}

.product-right{
    color:black;
    text-align:left;
    margin-left:25px;
}

.container{
    display:grid;
    grid-template-columns:60% auto;
}

.place-picture {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height:100%;
    width:auto;
}

.new-listing {
    padding: 10px;
    width: 50%;
    border-radius: 7px;
    margin: 6px;
}
.space-20-px {
    margin-left:20px;
}

