body {
    padding: 10px;
}

.heading-size {
    font-size:30px;
}

.flex {
    display: flex;
    flex-wrap:wrap;
}

.file-heading {
    text-align:center;
}

.nav {
    background-color: rgb(250, 246, 219); 
}
.product-item {
    border-radius:4px;
    border:2px solid rgba(0, 0, 0, 0.309);
    height: 500px;
    width: 250px;
    text-align:center;
    margin:20px;
}

.high-ground {
    border-bottom:2px solid rgba(0, 0, 0, 0.309);
    height:70%;
    padding:5px;
    padding-top:15px;
}

.low-ground {
    border-bottom:2px solid rgba(0, 0, 0, 0.309);
    height:8%;
}

.categories-item {
    margin-left: 20px;
    margin-right:20px;
    border-bottom:1px dashed black;
    padding:10px;
}

#main-title{
    font-size:30px;
    color: rgb(98, 162, 98);
    text-decoration:none;
}

.post-date{
    color:grey;
}

.product-left{
    color:grey;
    background-color:rgba(128, 128, 128, 0.305);
    width:500px;
    height:320px;
    border:1px solid rgba(128, 128, 128, 0.305);
}

.product-right{
    color:black;
    text-align:left;
    margin-left:25px;
}

.container{
    display:grid;
    grid-template-columns:60% auto;
}

.place-picture {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height:100%;
    width:auto;
}

.new-listing {
    padding: 10px;
    width: 50%;
    border-radius: 7px;
    margin: 6px;
}
.space-20-px {
    margin-left:20px;
}

.comment {
    border-radius:10px;
    border: 2px solid grey;
    padding-left:8px;
    padding-top:4px;
    margin-left:20px;
    background-color: rgb(236, 234, 234);
}

#bid_value {
    height:35px;
    border-radius:3px;
}

.nav-link{
    font-weight: bold;
    color: rgb(73, 172, 252);
}

.nav{
    border: 1px solid rgb(70, 79, 86);
    border-radius: 3px;
}
