{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="file-heading">Categories</h2>

    {% for category in category_names %}
        <div class="categories-item">
            <form action="{% url 'categories' %}" method="POST">
                {% csrf_token %}
                <button name="category" type="submit" class="btn btn-secondary btn-lg btn-block" value="{{ forloop.counter }}">
                    {{ category }}
                </button>
            </form>
        </div>
    {% endfor %}
{% endblock %}