{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="product-left">
            <img class="place-picture" src="{{product.image_url}}" width = "350">
        </div>
        <div class="product-right">
            <h2>{{ product.title }}</h2>
            <p>Seller: {{ product.seller }}</p>
            <p>{{ product.description }}</p>
            <p>Current bid: ${{ product.bid_value }} by {{ product.current_bidder }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'bid' product_id=product.id %}" method="POST">
                        {% csrf_token %}
                        <input type="number" name="bid_value">
                        <button type="submit" class="btn btn-primary">Place Bid</button>
                    </form>
                {% endif %}
                
                <br>
                {% if user.is_authenticated %}
                    {% if isListingInWatchList %}
                        <form action="{% url 'removeWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg btn-block">Remove from Watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'addWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg btn-block">Add to Watchlist</button>
                        </form>
                    {% endif %}
                {% endif %}
        </div>
    </div>
    <br>
    <form action="{% url 'comment' product_id=product.id %}" method="POST" class="space-20-px">
        {% csrf_token %}
        <h4>Comment</h4>
        <input class="new-listing" type="text" name="title" placeholder="Title">
        <br>
        <textarea class="new-listing" type="text" name="product_comment" placeholder="Your comment"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    <br>
    {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.title }}</strong>
            &nbsp;&nbsp; {{ comment.user }}
            <br>
            <p>&nbsp;&nbsp;{{ comment.product_comment }}</p>
        </div>
        <br><br>
    {% endfor %}
{% endblock %}
