{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="product-left">
            <img class="place-picture" src="{{product.image_url}}" width = "350">
        </div>
        <div class="product-right">
            <h2>{{ product.title }}</h2>
            <br>
            <p>Seller: {{ product.seller }}</p>
            <br>
            <p>{{ product.description }}</p>
                <button type="button" class="btn btn-primary btn-lg btn-block">Place Bid</button>
                <br>  
                {% if user.is_authenticated %}
                    {% if isListingInWatchList %}
                        <form action="{% url 'removeWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg btn-block">Remove from Watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'addWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg btn-block">Add to Watchlist</button>
                        </form>
                    {% endif %}
                {% endif %}
        </div>
    </div>  
{% endblock %}
