{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="product-left">
            <img class="place-picture" src="{{product.image_url}}" width = "350">
        </div>
        <div class="product-right">
            <h2>{{ product.title }}</h2>
            <p>Seller: {{ product.seller }}</p>
            <p>{{ product.description }}</p>
            <p>Current bid: ${{ product.bid_value }} by {{ product.current_bidder }}</p>
                {% if user.is_authenticated %}
                    <form action="{% url 'bid' product_id=product.id %}" method="POST">
                        {% csrf_token %}
                        <input type="number" name="bid_value">
                        <button type="submit" class="btn btn-primary">Place Bid</button>
                    </form>
                {% endif %}
                <br>
                {% if user.is_authenticated %}
                    {% if isListingInWatchList %}
                        <form action="{% url 'removeWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-lg btn-block">Remove from Watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'addWatchlist' product_id=product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-lg btn-block">Add to Watchlist</button>
                        </form>
                    {% endif %}
                {% endif %}
        </div>
    </div>
    {{ bidding_message }}  
{% endblock %}
